<!-- Barra de Navegación Pública -->
<nav class="bottom-nav">
  <a class="nav-item" href="#home" data-link="#home">
    <i class="bi bi-house"></i>
    <span>Inicio</span>
  </a>
  <a class="nav-item" href="#search" data-link="#search">
    <i class="bi bi-search"></i>
    <span>Buscar</span>
  </a>
  
  <a href="#qr" class="fab" data-link="#qr" aria-label="Escanear QR">
    <i class="bi bi-qr-code-scan"></i>
  </a>
  
  <a class="nav-item" href="#promos" data-link="#promos">
    <i class="bi bi-tags"></i>
    <span>Promos</span>
  </a>
  <a class="nav-item" href="#admin" data-link="#admin">
    <i class="bi bi-person-circle"></i>
    <span>Admin</span>
  </a>
</nav>
